<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Allecon_Teeth>
            <version>1.1.6</version>
        </Allecon_Teeth>
    </modules>

    <global>
        <models>
            <teeth>
                <class>Allecon_Teeth_Model</class>
                <resourceModel>teeth_mysql4</resourceModel>
            </teeth>
            <teeth_mysql4>
                <class>Allecon_Teeth_Model_Mysql4</class>
                <!--
                <entities>
                    <dailydeal>
                        <table>admin_tooem</table>
                    </dailydeal>
                </entities>
                -->
            </teeth_mysql4>
        </models>
        <resources>
            <teeth_setup>
                <setup>
                    <module>Allecon_Teeth</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </teeth_setup>
            <teeth_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </teeth_write>
            <teeth_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </teeth_read>
        </resources>
        <blocks>
            <teeth>
                <class>Allecon_Teeth_Block</class>
            </teeth>
            <adminhtml>
                <class>Mage_Adminhtml_Block</class>
                <rewrite>
                	<catalog_product_edit_tab_attributes>Allecon_Teeth_Block_Adminhtml_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <teeth>
                <class>Allecon_Teeth_Helper</class>
            </teeth>
        </helpers>
    </global>
    <frontend>
        <routers>
            <teeth>
                <use>standard</use>
                <args>
                    <module>Allecon_Teeth</module>
                    <frontName>teeth</frontName>
                </args>
            </teeth>
        </routers>
    </frontend>
</config>